body {
    background: linear-gradient(to right, #74ebd5, #acb6e5);
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

.Heading {
    font-family: 'Pacifico', sans-serif;
    font-size: 2rem;
    color: #4b0082;
    text-shadow: 1px 1px 2px #aaa;

}

.userHeading {
    color: #4b0082;
    text-shadow: 1px 1px 2px #aaa;
}

.passHeading {
    color: #4b0082;
    text-shadow: 1px 1px 2px #aaa;
}

.signUpBtn {
    background-color: #4b0082;
    color: #fff;
    width: 150px !important;
    margin: auto;
    display: block;
    border: none;
    border-radius: 5px;
}

.signUpBtn:hover {
    background-color: rgb(180, 0, 220);
    color: white;
    cursor: pointer;
    width: 150px !important;
    margin: auto;
    display: block;
}

.accMsg {
    font-family: 'Pacifico', sans-serif;
    text-shadow: 1px 1px 2px #aaa;
}

.swal-modal {
    background-color: #d4f1f9 !important;
    color: #4b0082 !important;
    border-radius: 10px;
}

.swal-button {
    background-color: rgb(212, 0, 255) !important;
    color: black !important;
    border: none;
    border-radius: 5px;
    width: 120px;
}

.swal-button:hover {
    background-color: rgb(180, 0, 220) !important;
    color: white !important;
    cursor: pointer;
}

.myNav {
    background-color: #4b0082;
}

.quizHeading {
    font-family: 'Pacifico', sans-serif;
    font-size: 2rem;
    color: #fff;
    text-shadow: 1px 1px 2px #aaa;
}

.myBtn {
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 6px 20px;
    font-family: 'Pacifico', sans-serif;
    margin-right: 40px;
}

.myBtn:hover {
    background-color: #333;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.card {
    max-width: 500px;
    margin: 120px auto 0 auto;
}

#questionText {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    color: #000;
    margin-bottom: 15px;
}

.option-btn {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    text-align: left;
    border-radius: 5px;
    border: 1px solid #4b0082;
    background-color: #fff;
    color: #4b0082;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.option-btn:hover {
    background-color: #4b0082;
    color: #fff;
    border: none;
}

#prevBtn, #nextBtn {
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 6px 12px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    margin: 0 5px;
}

#prevBtn:hover, #nextBtn:hover {
    background-color: #333;
    color: #fff;
}

